{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->
  <title>{% block title %}Instagram{% endblock %}</title>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <!-- 부트스트랩 -->
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- IE8 에서 HTML5 요소와 미디어 쿼리를 위한 HTML5 shim 와 Respond.js -->
  <!-- WARNING: Respond.js 는 당신이 file:// 을 통해 페이지를 볼 때는 동작하지 않습니다. -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <div>
    <a href="/">홈</a>
    {% if user.is_authenticated %}
    <a href="{% url "profile" %}">{{ user.profile.nickname }}</a>
    <a href="{% url "post:post_new" %}">글쓰기</a>
    <a href="{% url "logout" %}">로그아웃</a>
    {% else %}
    <a href="{% url "login" %}?next={{ request.path }}">로그인</a>
    <a href="{% url "signup" %}">회원가입</a>
    {% endif %}
    <form action="{% url "post:post_list" %}" method="post">
      {% csrf_token %}
      <input type="text" name="tag" placeholder="태그검색" pattern="#?[\wㄱ-ㅎ|ㅏ-ㅣ|가-힣]+" title="특수문자, 공백 입력불가" required >
      {# <input type="submit"> - input이 하나일 때는 별도의 submit 없이 엔터로 전송이 가능하다.#}
    </form>
  </div>
  {% block content %}
  {% endblock %}

  {% if messages %}
  <script type="text/javascript">
  {% for message in messages %}
  alert("{{ message.message }}");
  {% endfor %}
  </script>
  {% endif %}

  <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>
