<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Instagram{% endblock %}</title>
  </head>
  <body>
  <div>
    <a href="/">홈</a>
    {% if user.is_authenticated %}
    <a href="{% url "profile" %}">{{ user.profile.nickname }}</a>
    <a href="{% url "post:post_new" %}">글쓰기</a>
    <a href="{% url "logout" %}">로그아웃</a>
    {% else %}
    <a href="{% url "login" %}?next={{ request.path }}">로그인</a>
    <a href="{% url "signup" %}">회원가입</a>
    {% endif %}
    <form action="{% url "post:post_list" %}" method="post">
      {% csrf_token %}
      <input type="text" name="tag" placeholder="태그검색" pattern="#?[\wㄱ-ㅎ|ㅏ-ㅣ|가-힣]+" title="특수문자, 공백 입력불가" required >
      {# <input type="submit"> - input이 하나일 때는 별도의 submit 없이 엔터로 전송이 가능하다.#}
    </form>
  </div>
  {% block content %}
  {% endblock %}

  {% if messages %}
  <script type="text/javascript">
  {% for message in messages %}
  alert("{{ message.message }}");
  {% endfor %}
  </script>
  {% endif %}
  
  {% block extra_script %}
  {% endblock %}

  </body>
</html>
