{% load static %}
<div class="mylist-header">
  <div class="mylist-header-pic">
    {% if user_profile.picture %}
    <img class="my-pic" src="{{ user_profile.picture.url }}" alt="프로필사진">
    {% else %}
    <img class="my-pic" src="{% static 'images/default/default.jpg' %}" alt="프로필사진">
    {% endif %}
  </div>
  <div class="mylist-header-info">
    <h1 class="username">{{ username }}</h1>
    {% if user.username == username%}
    <a class="profile" href="{% url 'account_change' %}" >프로필 편집</a>
    <a class="profile" href="{% url 'logout' %}" >로그아웃</a>
    {% endif %}
    {% for user in target_user.all %}
    <ul class="info-list">
      <li><span class="info-list-title">게시물</span> {{ user.post_set.count }}</li>
      <li><span class="info-list-title">팔로워</span> {{ user.profile.follower_count }}</li>
      <li><span class="info-list-title">팔로우</span> {{ user.profile.following_count }}</li>
    </ul>
    <p class="about"><span class="nickname">{{ user.profile.nickname }}</span> {{ user.profile.about|urlize }}</p>
    {% endfor %}
  </div>
</div>
