{% extends "post/layout.html" %}

{% block title %}
{{ user.profile.nickname }}(@{{ user.username }}) - Instagram
{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="mylist-container">
    {% include "post/include_account.html" %}
    <div class="mylist-content">
      <div class="row">
      {% for post in post_list %}
        <div class="pic col-md-4"><a href="{% url 'post:my_post_list_detail' username %}"><img class="pic-src" src="{{ post.photo.url }}" alt=""></a></div>
      {% endfor %}
    </div>
    </div>
  </div>
</div>
{% endblock %}
