{% extends "post/layout.html" %}
{% load humanize %}

{% block content %}
{% for post in post_list %}
<ul>
  <li>{{ post.author.profile.nickname }}</li>
  <li><a href="{% url "post:post_edit" post.pk %}">수정</a> / <a href="{% url "post:post_delete" post.pk %}">삭제</a></li>
  <li><img src="{{ post.photo.url }}" alt="{{ post.author }}'s photo"></li>
  <li>{{ post.content }}</li>
  <li>{{ post.created_at|naturaltime }}</li>
  <li>{% for tag in post.tag_set.all %} {{ tag.name }} {% endfor %}</li>
</ul>
{% endfor %}
{% endblock %}


{% block script %}
{% if messages %}
<script type="text/javascript">
{% for message in messages %}
alert("{{ message.message }}");
{% endfor %}
</script>



{% endif %}
{% endblock %}
