{% load humanize %}
{% load post_extras %} {# custom filter 추가 #}

{% for post in posts %}
<ul>
  <li>{{ post.author.profile.nickname }}</li>
  {% if post.author == user %}
  <li><a href="{% url "post:post_edit" post.pk %}">수정</a></li>
  <li>
    <form action="{% url "post:post_delete" post.pk %}" method="post">
      {% csrf_token %}
      <input type="submit" value="삭제" onclick="return confirm('정말 삭제하시겠습니까?')">
    </form>
  </li>
  {% endif %}
  <li>
    <input type="button" class="like" name="{{ post.id }}" value="Like">
    <p id="count-{{ post.id }}">{{ post.like_count }}개</p>
    <p id="like-user-{{post.id}}">
    {% for like_user in post.like_user_set.all %}
      {{ like_user.profile.nickname }}
    {% endfor %}
    </p>
  </li>
  <li><img src="{{ post.photo.url }}" alt="{{ post.author }}'s photo"></li>
  {{ post|add_link|safe|linebreaksbr }}
  <li>{{ post.created_at|naturaltime }}</li>

  <div id="comment-list-ajax-post{{post.id}}"></div>

  {% for comment in post.comment_set.all %}
  <li id="comment{{ comment.id }}">
    {{ comment.author.profile.nickname }} : {{ comment.content }}
    {% if user == comment.author %}
    <input type="button" class="del-comment" value="댓글삭제" name="{{ comment.id }}">
    {% endif %}
  </li>
  {% endfor %}

  {% if user.is_authenticated %}
  <li id="add-comment-post{{post.id}}">
      {{ comment_form }}
      <input type="button" class="add-comment" name="{{ post.id }}" value="댓글등록">
  </li>
  {% endif %}
</ul>
<hr>
{% endfor %}
