<script type="text/javascript">
///////////////// 팔로우 Ajax /////////////////
 $(document).on('click', '.follow', function(){
  var pk = $(this).attr('name');
  $.ajax({
    type: "POST",
    url: "{% url 'follow' %}",
    data: {
      'pk': pk,
      'csrfmiddlewaretoken': '{{ csrf_token }}',
    },
    dataType: "json",

    success: function(response){
      alert(response.message);

      if(response.status){
        $("input.follow[name="+pk+"]").val("팔로잉");
        $("input.follow[name="+pk+"]").toggleClass('follow-btn following-btn');
      }else{
        $("input.follow[name="+pk+"]").val("팔로우");
        $("input.follow[name="+pk+"]").toggleClass('following-btn follow-btn');
      }

    },
    error: function(request, status, error){
      alert("로그인이 필요합니다.");
      window.location.replace("/accounts/login/");
      // alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
    }
  })
 });

///////////////// 좋아요 Ajax /////////////////
    $(document).on('click', '.like', function(){
    var pk = $(this).attr('name');
    $.ajax({ // .like 버튼을 클릭하면 <새로고침> 없이 ajax로 서버와 통신하겠다.
      type: "POST", // 데이터를 전송하는 방법을 지정
      url: "{% url 'post:post_like' %}", // 통신할 url을 지정
      data: {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'}, // 서버로 데이터 전송시 옵션
      dataType: "json", // 서버측에서 전송한 데이터를 어떤 형식의 데이터로서 해석할 것인가를 지정, 없으면 알아서 판단

      // 서버측에서 전송한 Response 데이터 형식 (json)
      // {'likes_count': post.like_count, 'message': message }

      success: function(response){ // 통신 성공시 - 좋아요 갯수 변경, 유저 목록 변경
        alert(response.message);

        $("#count-"+pk).html("좋아요 "+response.like_count+"개");

        var users = $("#like-user-"+pk).text();

        if(users.indexOf(response.nickname) != -1){
          if(response.like_count == 0){
            $("#like-user-"+pk).text("");
          }else{
          $("#like-user-"+pk).text(users.replace(response.nickname, ""));
          }
          $("input.like[name="+pk+"]").toggleClass('liked to-like');
        }else{
          $("#like-user-"+pk).text(response.nickname+users);
          $("input.like[name="+pk+"]").toggleClass('to-like liked');
        }
      },
      error: function(request, status, error){ // 통신 실패시 - 로그인 페이지 리다이렉트
        alert("로그인이 필요합니다.");
        window.location.replace("/accounts/login/");
        //  alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
      },
    });
  });


///////////////// 댓글 작성하기 /////////////////
  $(document).on('click', '.commnet-icon', function(){
    var pk = $(this).attr('name');
    $("#add-comment-post"+pk+">input[type=text]").focus();
  });

///////////////// 댓글등록 Ajax /////////////////

  $(document).on('click', '.add-comment', function(){
    var pk = $(this).attr('name');
    var content = $("#add-comment-post"+pk+">input[type=text]").val();
    if(content.length > 140){
      alert("댓글은 최대 140자 입력 가능합니다. 현재 글자수 :"+content.length);
      return;
    }
    $.ajax({
      type: "POST",
      url: "{% url 'post:comment_new' %}",
      data: {
        'pk': pk,
        'content':content,
        'csrfmiddlewaretoken': '{{ csrf_token }}',
      },
      dataType: "html",

      success: function(data, textStatus, jqXHR){
        alert("댓글을 추가하였습니다.");
        $("#add-comment-post"+pk+">input[type=text]").val("");
        $("#comment-list-ajax-post"+pk).append(data);
      },
      error: function(request, status, error){
        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        alert("문제가 발생했습니다.");
      },
    });
  });


///////////////// 댓글삭제 Ajax /////////////////
  $(document).on('click', '.del-comment', function(){
    var pk = $(this).attr('name');
    $.ajax({
      type: "POST",
      url: "{% url 'post:comment_delete' %}",
      data: {
        'pk': pk,
        'csrfmiddlewaretoken': '{{ csrf_token }}',
      },
      dataType: "json",
      success: function(response){
        if(response.status){
          $('#comment'+pk).remove();
        }
        alert(response.message);
      },
      error: function(request, status, error){
        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        alert("문제가 발생했습니다.");
      },
    });
  });


///////////////// 댓글 더보기 Ajax /////////////////

  $(document).on('click', '.comment-more', function(){
    var pk = $(this).attr('name');

    $.ajax({
      type: "POST",
      url: "{% url 'post:comment_more' %}",
      data: {
        'pk': pk,
        'csrfmiddlewaretoken': '{{ csrf_token }}',
      },
      dataType: "html",

      success: function(data, textStatus, jqXHR){
        $("#comment-more-"+pk).append(data);
        $(".comment-more[name="+pk+"]").remove();
      },

      error: function(request, status, error){
        alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
        alert("문제가 발생했습니다.");
      },
    });
  });



///////////////// 무한 스크롤 Ajax /////////////////
  $('#callmorepost').click(function(){
    var page = $("#page").val();
    var end_page = {{ posts.paginator.num_pages }};
    if(page > end_page){
      return;
    }
    callMorePostAjax(page);
    $("#page").val(parseInt(page)+1);
  });

  $(window).scroll(function(){
    var scrollHeight = $(window).scrollTop() + $(window).height();
    var documentHeight = $(document).height();

    // console.log("documentHeight:" + documentHeight);
    // console.log("windowHeight:" + $(window).height());
    // console.log("scrollHeight:" + scrollHeight);

    if (scrollHeight  >= documentHeight){
      var page = $("#page").val();
      var end_page = {{ posts.paginator.num_pages }};
      if(page > end_page){
        return;
      }
      callMorePostAjax(page);
      $("#page").val(parseInt(page)+1);
    }
  });

  function callMorePostAjax(page) {
    var end_page = {{ posts.paginator.num_pages }};
    if(page > end_page){
      return;
    }
    $.ajax({
      type : 'POST',
      {% if tag %}
      url: "{% url 'post:post_search' tag %}", // tag 여부에 따라서 분기처리
      {% elif follow_set %}
      url: "{% url 'post:follow_post_list' %}", // view에서 넘겨준 follow_set 여부에 따라서 분기처리
      {% else %}
      url: "{% url 'post:post_list' %}",
      {% endif %}
      data: {
        'page': page,
        'csrfmiddlewaretoken': '{{ csrf_token }}'
      },
      success: addMorePostAjax,
      dataType: 'html',
      error: function(request, status, error){
        alert('오류발생');
        // alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
      },
    });
  }

  function addMorePostAjax(data, textStatus, jqXHR) {
    $('#post_list_ajax').append(data);
  }
</script>
