{% extends "accounts/layout.html" %}
{% load static %}
{% block title %} 회원정보 변경 {% endblock %}
{% block content %}
<div class="form-container account-form-container">
  <form class="form account-form" action="" method="post" enctype="multipart/form-data">
    <div class="user-title">
      {% if user.profile.picture %}
      <img class="account-pic" src="{{ user.profile.picture.url }}" alt="프로필사진">
      {% else %}
      <img class="account-pic" src="{% static 'images/default/default.jpg' %}" alt="프로필사진">
      {% endif %}
      <h1 class="usernsme">{{ user.username }} 프로필 편집</h1>
    </div>
    {% csrf_token %}
    {{ form.as_p}}
    <input class="submit_btn" type="submit">
  </form>
  <div class="shortcut">
    <p class="signup-link">비밀번호 변경을 원하시나요? <a href="{% url "password_change" %}">비밀번호 변경</a></p>
  </div>
</div>
{% endblock %}
