@import 'variables';

.search-result-title {
  font-size: 32px;
  line-height: 40px;
  padding-bottom: 13px;
  font-weight: 300;
  margin: 0;
}

.search-header,
.error {
  text-align: center;
  margin-bottom: 50px;
}

.search-result-count {
  color: #262626;
  .count {
    font-weight: 600;
  }
}

.hot-tag-list {
  font-size: 25px;
  margin-top: 50px;
}
