@import 'variables';

.preview {
  text-align: center;
  position: relative;
  color: #3897f0;
  margin-bottom: 50px;

  .upload{
    cursor: pointer;
  }

  .preview-bg{
    width: 80px;
    height: 80px;
    display: inline-block;
    position: absolute;
    top: 40%;
    left: 50%;
    transform:translate(-50%, -40%);
    background-image: url(/static/images/sprites/abfe22.png);
    background-size: 413px 391px;
    background-position: -93px -52px;
  }
  .preview-title {
    position: absolute;
    top: 65%;
    left: 50%;
    transform:translate(-50%, -65%);
  }
}

#photo-clear_id {
  width: 12px;
}
