.search-result-title {
  font-size: 32px;
  line-height: 40px;
  padding-bottom: 13px;
  font-weight: 300;
  margin: 0;
}

.search-header {
  text-align: center;
  margin-bottom: 50px;
}

.search-result-count {
  color: #262626;
}

.search-result-count .count {
  font-weight: 600;
}
